/* Nav Bar*/
 /* Navbar items align-right */
#navbarNavAltMarkup {
    justify-content: flex-end;
}


/* Carousel */
.carousel { height: calc(100vh - 60px);}
.carousel-inner,.carousel-item { height: 100%;}
.carousel-item { background-color: #000;}
.carousel-item img { height: 100%; object-fit: cover; object-position: center;}

/* Project Grid */
.project-grid {
    height: 300px;
    width: 300px;
    border: 10px solid black;
    position: relative;
}

.project-grid:hover {
    border-color: red;
}

@media (min-width: 768px) {
    .project-container{
        width: 600px;
    }
}

@media (min-width: 992px) {
    .project-container{
        width: 900px;
    }
}

@media (min-width: 1400px) {
    .project-container{
        width: 1200px;
    }
}

.project-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.back-to-top {
    position: fixed;
    bottom: 3vh;
    right: 3vw;
}

.grid-description__container {
    position: absolute;
    width: 80%;
    height: 80%;
    top: 28px;
    left: 28px;
    text-align: center;
    background-color: black;
    opacity: 90%;
    z-index: 1;
    color: white;
    visibility: hidden;
}

.project-grid:hover .grid-description__container {
    visibility: visible;
}

.grid-description__textbox {
    height: 180px;
    margin: 22px;
}

.grid-description__title {
    margin: 0 auto;
    height: 80px;
    font-size: 25px;
}

.grid-description__divider {
    border-top: 2px solid white;
    width: 10%;
    margin: 9px auto 19px;
}

.grid-description__detail {
    margin: 0 auto;
    height: 70px;
}