/* Nav Bar*/
 /* Navbar items align-right */
#navbarNavAltMarkup {
    justify-content: flex-end;
}


/* Carousel */
.carousel { height: calc(100vh - 60px);}
.carousel-inner,.carousel-item { height: 100%;}
.carousel-item { background-color: #000;}
.carousel-item img { height: 100%; object-fit: cover; object-position: center;}

/* Project Grid */
.project-col {
    height: 300px;
    width: 300px;
    border: 10px solid black;
}

.project-col:hover {
    border-color: red;
}

@media (min-width: 768px) {
    .project-container{
        width: 600px;
    }
}

@media (min-width: 992px) {
    .project-container{
        width: 900px;
    }
}

@media (min-width: 1400px) {
    .project-container{
        width: 1200px;
    }
}

.project-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.back-to-top {
    position: fixed;
    bottom: 3vh;
    right: 3vw;
}