/* Nav Bar*/
 /* Navbar items align-right */
#navbarNavAltMarkup {
    justify-content: flex-end;
}


/* Carousel */
.home-carousel { height: calc(100vh - 60px);}
.home-carousel-inner,.home-carousel-item { height: 100%;}
.home-carousel-item { background-color: #000;}
.home-carousel-item img { height: 100%; object-fit: cover; object-position: center;}

/* Project Grid */
.project-grid {
    height: 300px;
    width: 300px;
    border: 10px solid black;
    position: relative;
}

.project-grid:hover {
    border-color: red;
}

.project-container {
    width: 300px;
}

@media (min-width: 768px) {
    .project-container{
        width: 600px;
    }
}

@media (min-width: 992px) {
    .project-container{
        width: 900px;
    }
}

@media (min-width: 1400px) {
    .project-container{
        width: 1200px;
    }
}

.project-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.back-to-top {
    position: fixed;
    bottom: 3vh;
    right: 3vw;
}

.grid-description__container {
    position: absolute;
    width: 75%;
    height: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: black;
    opacity: 80%;
    z-index: 1;
    color: white;
    visibility: hidden;
    padding: 10%;
}

.project-grid:hover .grid-description__container {
    visibility: visible;
}

.grid-description__textbox {
    height: 100%;
    width: 100%;
    margin: 0;
}

.grid-description__title {
    margin: 0 auto;
    height: 45%;
    font-size: 25px;
}

.grid-description__divider {
    border-top: 2px solid white;
    width: 10%;
    margin: 5% auto;
}

.grid-description__detail {
    margin: 0 auto;
    height: 45%;
}

 /* Modal */
 .modal-grid__container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 5%;
 }

 .modal-description__container {
    background-color: black;
    color: white;
 }