/* Project Grid */
.project-grid {
    height: 300px;
    width: 300px;
    border: 5px solid white;
    position: relative;
}

.project-grid:hover {
    border-color: red;
}

.project-container {
    width: 300px;
}

@media (min-width: 768px) {
    .project-container {
        width: 600px;
    }
}

@media (min-width: 992px) {
    .project-container {
        width: 900px;
    }
}

@media (min-width: 1400px) {
    .project-container {
        width: 1200px;
    }
}

.project-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-description__container {
    position: absolute;
    width: 75%;
    height: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: black;
    opacity: 70%;
    z-index: 1;
    color: white;
    visibility: hidden;
    padding: 10%;
}

.project-grid:hover .grid-description__container {
    visibility: visible;
}

.grid-description__textbox {
    height: 100%;
    width: 100%;
    margin: 0;
}

.grid-description__title {
    margin: 0 auto;
    height: 45%;
    font-size: 25px;
}

.grid-description__divider {
    border-top: 2px solid white;
    width: 10%;
    margin: 5% auto;
}

.grid-description__detail {
    margin: 0 auto;
    height: 45%;
}

/* Modal */
.modal-grid__container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 5%;
}

.modal-description__container {
    background-color: black;
    color: white;
}


/* Back To Top */
.back-to-top {
    position: fixed;
    bottom: 1vh;
    right: 1vw;
}

.back-to-top img {
    height: 5vh;
    width: 5vh;
}